<mat-card-header>
    <div class="user-info">
      <div mat-card-avatar class="user-avatar">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="user-details">
        <mat-card-title>{{'footer.helloAgain' | translate}}, User!</mat-card-title>
        <mat-card-subtitle style="color: #ffffff">6th Semester - 2024-02</mat-card-subtitle>
      </div>
      <button mat-button style="color: #ff0000" class="edit-semester">{{'footer.editSemester' | translate}}</button>
    </div>
  </mat-card-header>
