<mat-card-header>
  <div class="user-info">
    <div mat-card-avatar class="user-avatar">
      <img [src]="currentUser.avatar" alt="Avatar" class="avatar">
    </div>
    <div class="user-details">
      <mat-card-title>{{'footer.helloAgain' | translate}}, {{ currentUser?.name }} {{ currentUser?.lastName }}!</mat-card-title>
      <mat-card-subtitle style="color: #ffffff">{{currentUser?.cycle}}° {{'footer.semester' | translate}} - <br> 2024-02</mat-card-subtitle>
    </div>
    <button mat-button style="color: #ff0000" color="warn" class="edit-semester" (click)="openEditTutoringDialog()">{{'footer.editSemester' | translate}}</button>
  </div>
</mat-card-header>
