.footer-content {
    background-color: #D83749;
    padding: 20px;
    text-align: center;
    color: #ffffff;

}

.footer-content p {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-content p:last-child {
    margin-bottom: 0;
}
