<div class="course-carousel">
    <h3 style="color: #ffffff">{{'footer.whatLearn' | translate}}</h3>
      <div class="carousel-container">
      <mat-tab-group color="warn" [(selectedIndex)]="selectedIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab *ngFor="let course of recommendedCourses">
          <ng-template mat-tab-label>
            <mat-icon style="color: #ffffff">school</mat-icon>
            <p style="color: #ffffff"> &nbsp; &nbsp; &nbsp;{{ course.title }}</p>
          </ng-template>
          <mat-card class="course-card">
            <img mat-card-image [src]="course.image" alt="{{ course.title }}">
            <mat-card-content>
              <h4 class="course-title" style="color: #ffffff">{{ course.title }}</h4>
              <p class="course-author" style="color: #ffffff">{{ course.author }}</p>

              <p class="course-price">{{ course.price }}</p>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
