.course-carousel {
    margin: 20px auto;
    text-align: center;
    width: 90%;
    height: 680px;
  }

  .carousel-container {
    margin-top: 15px;
  }

  .course-card {
    width: 85%;
    max-width: 350px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #242524;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  }


  .course-card img {
    width: 80%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .course-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .course-author {
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
  }

  .course-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .course-rating mat-icon {
    color: #ff0000;
    margin-right: 5px;
  }

  .course-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }


  @media (max-width: 768px) {
    .course-card {
      max-width: 100%;
    }
  }
