<!--toolbar-->
<mat-toolbar color="warn" class="custom-toolbar">
  <!-- logo  -->
  <div class="container" (click)="navigateToDashboard()">
    <img class="logo" ngSrc="https://i.ibb.co/zhWRvvY/Tutor-Match-removebg-preview.png" alt="user" width="106" height="118" style="width: auto;">
    <div>
      <span class="name">TutorMatch</span>
    </div>
  </div>

  <!-- search bar -->
  <div class="search-bar-container">
    <mat-form-field color="warn" class="search-bar" appearance="outline">
      <input matInput
             [placeholder]="'footer.search' | translate"
             [formControl]="searchControl"
             [matAutocomplete]="auto"
             (keyup.enter)="onSearch()">
      <button mat-icon-button matSuffix aria-label="Search" (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSemesterSelect($event.option.value)">
        <mat-option *ngFor="let semester of (filteredSemesters | async)" [value]="semester.labelKey">
          {{ semester.labelKey | translate }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>


  <!-- icon-buttons -->
  <div class="icon-buttons">
    <button *ngIf="isTutor" mat-icon-button color="warn" aria-label="Add course" (click)="openAddTutoringDialog()">
      <mat-icon color="warn">add</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Profile" class="avatar">
      <img [src]="currentUser.avatarUrl" alt="Avatar">
    </button>

    <button mat-icon-button [matMenuTriggerFor]="languageMenu" aria-label="Change language">
      <mat-icon color="warn">language</mat-icon>
    </button>
  </div>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="navigateToSettings()">
      <span>{{ 'footer.pSettingsToolbar' | translate }}</span>
    </button>
    <button mat-menu-item (click)="navigateToProfile()">
      <span>{{ 'footer.pProfileToolbar' | translate }}</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <span>{{ 'footer.pLogout' | translate }}</span>
    </button>
  </mat-menu>
  <mat-menu #languageMenu="matMenu">
    <app-language-switcher></app-language-switcher>
  </mat-menu>
</mat-toolbar>
