<div class="container">
  <h2>Settings</h2>
  <form [formGroup]="settingsForm" (ngSubmit)="onSave()">
    <div>
      <label for="avatar">Avatar:</label>
      <input type="file" id="avatar" formControlName="avatar" (change)="onFileSelected($event)">
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Gender:</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
          <mat-option value="other">Other</mat-option>
          <mat-option value="croissant">Croissant</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Cycle:</mat-label>
        <input matInput type="number" formControlName="cycle">
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
