body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.course-card {
  background-color: #2c2c2c;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  color: white;
  box-sizing: border-box;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.course-card:hover {
  transform: scale(1.03);
}

.course-card img {
  max-width: 100%;
  border-radius: 4px;
  height: 150px;
  object-fit: cover;
}

.course-card h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.course-card p {
  font-size: 0.9rem;
  margin: 5px 0;
}

.request-tutoring-button {
  background-color: #7b0523;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.request-tutoring-button:hover {
  background-color: #f6405f;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin-top: -100px;
}

.centered-container p {
  font-size: 2rem;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .courses-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .centered-container p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  .courses-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
  }

  .course-card {
    padding: 10px;
  }

  .course-card h2 {
    font-size: 1rem;
  }

  .course-card p {
    font-size: 0.8rem;
  }

  .request-tutoring-button {
    padding: 8px 16px;
    font-size: 0.8rem;
  }

  .centered-container p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .courses-grid {
    grid-template-columns: 1fr;
  }

  .course-card img {
    height: 200px;
  }

  .course-card h2 {
    font-size: 1.1rem;
  }

  .course-card p {
    font-size: 0.9rem;
  }

  .request-tutoring-button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .centered-container p {
    font-size: 1rem;
  }
}
