<app-toolbar></app-toolbar>
<div class="container" *ngIf="tutoring">

  <div class="course-detail">
    <div class="course-info">
      <div class="breadcrumbs">
        <a href="#" (click)="goBack($event)">{{ semesterName }}</a> > <a>{{ tutoring.title || 'Curso no encontrado' }}</a>
      </div>
      <h1 class="course-title">{{ tutoring.title }}</h1>
      <p class="course-description">{{ tutoring.description }}</p>
      <p class="course-tutor" *ngIf="tutor?.fullName">{{ 'footer.DictatedBy' | translate }}: {{ tutor?.fullName }}</p>

      <div class="what-you-will-learn">
        <h3>{{ 'footer.WhatWillLearn' | translate }}</h3>
        <p *ngFor="let item of tutoring.whatTheyWillLearn.split(',')">✔ {{ item }}</p>
      </div>

      <div class="tutor-available-times">
        <h3>{{ 'footer.TutorAvT' | translate }}</h3>
        <table class="time-table">
          <thead>
          <tr>
            <th>{{ 'footer.Sun' | translate }}</th>
            <th>{{ 'footer.Mon' | translate }}</th>
            <th>{{ 'footer.Tue' | translate }}</th>
            <th>{{ 'footer.Wed' | translate }}</th>
            <th>{{ 'footer.Thu' | translate }}</th>
            <th>{{ 'footer.Fri' | translate }}</th>
            <th>{{ 'footer.Sat' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let timeSlot of timeSlots">
            <td [ngClass]="{'validated': isTimeSlotValidated(0, timeSlot)}">{{ timeSlot }}</td>
            <td [ngClass]="{'validated': isTimeSlotValidated(1, timeSlot)}">{{ timeSlot }}</td>
            <td [ngClass]="{'validated': isTimeSlotValidated(2, timeSlot)}">{{ timeSlot }}</td>
            <td [ngClass]="{'validated': isTimeSlotValidated(3, timeSlot)}">{{ timeSlot }}</td>
            <td [ngClass]="{'validated': isTimeSlotValidated(4, timeSlot)}">{{ timeSlot }}</td>
            <td [ngClass]="{'validated': isTimeSlotValidated(5, timeSlot)}">{{ timeSlot }}</td>
            <td [ngClass]="{'validated': isTimeSlotValidated(6, timeSlot)}">{{ timeSlot }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="course-price-section">
      <img *ngIf="tutoring.image" [src]="tutoring.image" alt="Imagen del curso">
      <h1 class="course-title">{{ tutoring.title }}</h1>
      <h3 *ngIf="tutoring.price" class="course-price">S/. {{ tutoring.price }}</h3>
      <a *ngIf="tutor?.email"
         [href]="'mailto:' + tutor?.email + '?subject=' + encodeURIComponent('Tutorias sobre ' + tutoring.title) + '&body=' + encodeURIComponent('Hola, me gustaria saber mas sobre esta tutoria. [Edita si crees necesario]')"
         target="_blank">
        <button class="request-tutoring-button">{{ 'footer.RequestTutoring' | translate }}</button>
      </a>
    </div>
  </div>

  <app-footer-content></app-footer-content>

</div>
